@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url(https://fonts.googleapis.com/css?family=Raleway);

/* TODO Insert root and vars to future proof ur page*/

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root{
    --text-color: #00259a;
    --nav-font: "Raleway";
    --background-color: #f7c98e;
    --font-size-logo-title: 2rem;
    --logo-letter-spacing: 1px;
    --logo-line-height: 1.8;
    --font-general: 'Comfortaa', san-serif;
    --default-font-weight: 400;
    --h2-font-size: 1.5rem;
    --text-font-size: 0.9rem;
}

.logo_title {
    text-decoration: none;
    letter-spacing: var(--logo-letter-spacing);
    line-height: var(--logo-line-height);
    font-size: var(--font-size-logo-title);
    font-family: var(--font-general);
}

body {
    background-color: var(--background-color);
}
/*! SLIDESHOW */



.mySlides {
    max-width: 800px;
    max-height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 0 auto;
}

/*! About */
h2 {
    padding-top: 15px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .06rem;
    color: var(--text-color);
    line-height: 1.3;
    font-family: var(--font-general);
    vertical-align: center;
    text-align: center;
    font-size: var(--h2-font-size);
}

#about p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: var(--text-font-size);
    font-family: 'Comfortaa', san-serif;
    color: #00259a;
    font-weight: var(--default-font-weight);
    padding: 20px 20px 0 20px;
    position: relative;
    margin: 0 auto;
    line-height: 2;
    text-align: center;
}

/*! Sticky footer */
footer {
    position: sticky;
    display: flex;
    bottom: 0;
    font-family: "Raleway";
    background-color: #00259a;
    color: #f7c98e;
    width: 100%;
    justify-content: space-between;
    padding: 1rem;
    justify-content: space-evenly;
}

a:link, a:visited {
    text-decoration: none;
    color: var(--background-color);
}

/*! The call button */

footer .call {
    padding: 0.4rem;
    padding-top: 0.5rem;
    font-weight: 400;
    font-size: var(--text-font-size);
    font-family: var(--default-font-weight);
    color: white;
    background-color: #098b14;
    border-radius: 2rem;
}

/* img:not([alt]){
    border: solid 2px red;
} */