@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.logo_title {
    text-decoration: none;
    letter-spacing: 1px;
    line-height: 1.8;
    font-size: 2.2rem;
    font-family: 'Comfortaa', san-serif;
}

body {
    background-color: #f7c98e;
    min-height: 200vh;
}
/* =SLIDESHOW */

* {
    margin: 0;
    padding: 0;
}

.mySlides {
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

h2 {
    padding-top: 15px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .06rem;
    color: #00259a;
    line-height: 1.3;
    font-family: 'Comfortaa', san-serif;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: .9rem;
    font-family: 'Comfortaa', san-serif;
    color: #00259a;
    font-weight: 400;
    padding: 20px 20px 0 20px;
    position: relative;
    margin: 0 auto;
    line-height: 2;
    text-align: center;
}
